@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root
{
    --first-color: #000;
    --second-color:  #fff;
    --thid-color: #2189FF;

    --btn-bgcolor: #fff;
    --btn-bgcolor-alt: #000;

    --btn-brdrcolor: #000;
    --btn-brdrcolor-alt: #fff;

    --header-bgcolor: #F5F5F5;
    --body-bgcolor: #fff;
    --footer-bgcolor: #000;

    /* Fonts */
    --h1-fontsize: 2.5rem;
    --h2-fontsize: 1.75rem;
    --h3-fontsize: 1.5rem;
    --normal-fontsize: 1rem;
    --biggest-fontsize: 1.25rem;

    /* Font Weight */
    --fontweight-regular: 400;
    --fontweight-medium: 500;
    --fontweight-semi: 600;
    --fontweight-bold: 700;
}

@media screen and (max-width:425px)
{
  :root
  {
    --h1-fontsize: 1.5rem;
    --h2-fontsize: 1.25rem;
    --h3-fontsize: 1rem;
    --normal-fontsize: .75rem;
    --biggest-fontsize: 1.15rem;
  }
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    color: var(--first-color);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body-bgcolor);
    font-weight: var(--fontweight-regular);
    font-size: var(--normal-fontsize);
}

img
{
    width: 100%;
}

h1
{
    font-size: var(--h1-fontsize)
}

h2
{
    font-size: var(--h2-fontsize)
}

h3
{
    font-size: var(--h3-fontsize)
}

hr
{
    border: none;
    border-top: 2px solid #C4C4C4;
    width: 100%;
}

header
{
    width: 100%;
    height: 5vh;
    background-color: var(--header-bgcolor);
    border-bottom: 4px solid;
    border-bottom-color: #000;
}

main
{
    max-width: 980px;
    width: 100%;
    margin: 1% auto;
}

footer
{
    background-color: var(--footer-bgcolor);
    color:var(--second-color);
    text-align: center;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

button
{
    border: 2px solid var(--btn-brdrcolor);
    background-color: var(--btn-bgcolor);
    font-size: var(--h3-fontsize);
    font-weight: var(--fontweight-bold);
    margin-top: 3%;
    padding: .5em 2.5em;
    letter-spacing: 1px;
    cursor: pointer;
}

button:hover
{
    background-color: var(--btn-bgcolor-alt);
    border-color: var(--btn-brdrcolor-alt);
    color: var(--second-color);
}

label, input[type="radio"]{
    cursor: pointer;
}

.header__container--logo
{
    margin: 0 auto;
    width: 10%;
}

.header__container--logo img
{
    margin-top: 3%;
}

.main__container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__container--feature
{
    margin: 0 auto;
    width: 80%;
}

.main__container--featureditem
{
    margin: 1% 0;
}
.main__container--featureditem img
{
    width: 50%;
}

.highlighten
{
    font-size: var(--h1-fontsize);
    font-weight: var(--fontweight-bold) ;
    color: var(--thid-color);
}

.span__choice
{
    margin-left: 5%;
}

#block-1
{
    text-align: center;
    display: block;
}

.main__container--cta
{
    margin: 2% auto;
}

.conf
{
    margin: 1em auto;
}

.conf p, .conf input
{
    padding: .75em 0;
}

#block-2
{
    display: none;
    text-align: left;
    margin: 0 auto;
    width: 80%;
}

.que p, .que input
{
    padding: .75em 0;
}

.p__text--instruction
{
    font-weight: var(--fontweight-semi);
    margin: .5em 0;
}

.que
{
    margin: 1em auto;
}

.btn--submit
{
    width: 100% !important;
    max-width: 250px;
    margin: 2% auto;
}

.btn--cta
{
    border-color: #4e0923;
    color: #4e0923; 
}

.btn--cta:hover
{
   background-color: #4e0923;
}

#btn_submit
{
    display: none;
}

#block-3
{
    display: none;
    text-align: center;
}

.box
{
    width: 200px;
    height: 180px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20%;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.3);
}

.container
{
    height: 15px;
    width: 105px;
    display: flex;
    position: relative;
}

.circle
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    animation: move 500ms linear 0ms infinite;
    margin-right: 30px;
}

.circle:first-child
{
    position: absolute;
    top:0;
    left:0;
    animation: grow 500ms linear 0ms infinite;
}

.circle:last-child
{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    animation: grow 500ms linear 0s infinite reverse;
}

.text__loading
{
    margin-top: 10%;
}

.font_larger
{
    font-size: var(--biggest-fontsize);
}

@keyframes grow {
    from {transform: scale(0,0); opacity: 0;}
    to {transform: scale(1,1); opacity: 1;}
}

@keyframes move {
    from {transform: translateX(0px)}
    to {transform: translateX(45px)}
}

#block-4
{
    display: none;
    text-align: center;
}

@media screen and (max-width:425px)
{
    header
    {
        width: 100%;
        height: 30px;
    }
    
    main
    {
        margin: 5% auto;
    }
    
    footer
    {
        height: 40px;
    }
    
    button
    {
        margin-top: 5%;
    }

    .header__container--logo
    {
        width: 30%;
    }

    .header__container--logo img
    {
        margin-top: 5%;
    }

    .main__container--featureditem
    {
        margin: 5% 0;
    }
    .main__container--featureditem img
    {
        width: 80%;
    }

    .main__container--cta
    {
        margin: 5% auto;
    }

    .btn--cta
    {
        width: 80%;
    }
}

@media screen and (max-width:320px)
{
    .main__container--feature
    {
        width: 90%;
    }
}